* {
    font-family: saira, sans-serif;
    margin: 0;
    padding: 0;

}

body {
    background-color: #2222;
}

.header {
  height: 400px;
  background: url("img/5.jpg") center/cover;
}

.overlay-opacity {
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  text-shadow: 4px 4px 2px rgb(0, 0, 0);
}

/* SERVICIOS */

.servicios1 {
  height: auto;
  background-color: #0e173b;
}

.underline1 {
  margin-left: 50px;
  color: #ffff;
  border-bottom: 4px solid rgb(255, 255, 255); /* estilo del subrayado */
  padding-bottom: 2px; /* Espacio entre el texto y el subrayado */
}

.servicios-parrafo1 {
  margin-top: 20px;
  color: #ffff;
  line-height: 40px;
}

/* SERVICIOS 2 */

.servicios2 {
  height: auto;
  background-color: #ffffff;
}

.underline2 {
  margin-right: 50px;
  color: #0e173b;
  border-bottom: 4px solid #0e173b; 
  padding-bottom: 2px;
}

.servicios-parrafo2 {
  margin-top: 20px;
  color: #0e173b;
  line-height: 40px;
}


/* FOOTER */
.box1 .img-container a img{
  width: 250px;
  height: auto;
}

.redes a{
  text-decoration: none;
  text-align: center;
  transition: all .3s ease;
  color: #0099ff;
}
.redes a:hover{
  color:rgb(216, 255, 242);
}





