@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #cccaca;
}


.navbar {
    background-color: #00000050;
}

li a:hover{
    display:inline-block ;
      opacity: 0.50;
      transition: 0.5s;
  }

  .container-logo a img {
    border-radius: 1000px;
    background-color: #cccaca;
  }


  /* CARD */

  .card {
    width: 700px;
    height: auto;
  }