/* Estilos generales */
body {
  font-family: saira, sans-serif;
  background-color: #666666;
}

/* HEADER */
.nav-vertical {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
}

.navbar-toggler {
  border: none;
}


.logo-container img {
  height: 60px;
}

#banner-inicio .slider {
  width: 100%;
  height: 33rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  display: inline-block;
  transition: all 1s;
  margin-right: -4px;
}

.derecha,
.izquierda {
  position: absolute;
  background-color: transparent;
  color: white;
  width: 20%;
  height: 100%;
  top: 0%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.derecha img,
.izquierda img {
  max-width: 20%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.derecha {
  height: 100%;
  right: 0px;
  display: flex;
  justify-content: center;
}

.izquierda {
  left: 0px;
}

.derecha:hover,
.izquierda:hover {
  cursor: pointer;
}

/* ICONO DE WHATASPP FLOTANTE */
@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 5rem;
    height: 5rem;
  }
}

.wsp-btn a img {
  position: sticky;
  height: 70px;
  width: auto;
  left: 95%;
  top: 90%;
  cursor: pointer;
  z-index: 21;
  display: none;
  animation: popup 0.3s ease-in-out;
  transition: all 0.3s ease;
}

.wsp-btn a img:hover {
  transform: scale(1.1);
}


@media screen and (min-width: 1300px) {
  .wsp-btn a img {
    left: 93%;
    top: 85%;
  }
}

/* GRID-TARJETAS */
.container-cards {
  height: 32rem;
}



.container-cards div {
  border-radius: 5px;
}

.container-cards div a {
  border-radius: 5px;
  padding: 30px;
}

.container-cards div a:hover {
  transition: 0.7s;
}

.grid-items a div img {
  height: 200px;
  width: auto;
}

#s-ancora,
#calculo,
#modelos,
#info-interes {
  transition: all 0.4s;
  background-size: 200px;
  background-repeat: no-repeat;
}

#s-ancora:hover,
#calculo:hover,
#modelos:hover,
#info-interes:hover {
  transition: all 0.4s;
}

/* SECTION */
.info-section {
  height: 1rem;
}

/* SERVICIOS ITEMS */
@media screen and (max-width: 360px) {
  .servicios-items {
    padding: 10px 0px 30px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.servicios-items {
  padding: 10px 0px 30px 0px;
  display: grid;
  justify-content: center;
  width: 100%;
  margin: 0px auto 0px auto;
}

.divisor.animation {
  padding: 2px;
}

.items {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 1rem;
}

.servicios-seccion {
  text-align: center;
  font-weight: 800;
  margin-top: 80px;
}

.servicios-seccion.animation {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  visibility: visible;
  overflow: hidden;
}

.divisor {
  width: 70px;
  height: 3px;
  background: #000000;
  margin: 0 auto;
  margin-bottom: 20px;
}

.divisor.animation {
  visibility: visible;
  overflow: hidden;
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.item {
  margin-top: 30px;
}

.servicios .servicio-icono {
  background-color: #142452;
  border-radius: 50%;
  padding: 8px;
  float: left;
  vertical-align: middle;
  border-style: none;
  border: 1px solid #ffffff;
}

.servicio-icono img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-style: none;
}

.servicio-titulo {
  margin: 15px 45px 25px 80px;
  font-weight: 700;
}

/* FOOTER */
.pie-pagina {
  margin-top: 120px;
}

.box1 .img-container a img {
  width: 250px;
  height: auto;
}

.redes a {
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  color: #0099ff;
}

.redes a:hover {
  color: rgb(216, 255, 242);
}

/* ANIMACIONES */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/* MEDIA QUERYS */

/* SLIDER MOBILE */
@media screen and (max-width: 360px) {
  .nav-vertical {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .Contenido {
    height: 6rem;
    position: relative;
  }

  #banner-inicio {
    width: 100%;
    height: 16rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .servicios {
    margin-top: 0rem;
  }


  .wsp-btn a img {
    left: 80%;
    bottom: 70%;
  }
}

/* TABLET, NOTEBOOK */
@media screen and (min-width: 361px) and (max-width: 899px) {
  .Contenido {
    height: 18rem;
    position: relative;
  }

  .derecha,
  .izquierda {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 10rem;
  }

  .derecha img,
  .izquierda img {
    max-width: 10%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }

 

  #banner-inicio {
    width: 100%;
    height: 18rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }

  #banner-inicio .slider {
    width: 100%;
    height: 33rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    display: inline-block;
    transition: all 1s;
    margin-right: -4px;
  }

  .servicios {
    margin-top: 0rem;
  }

  .servicios-text {
    margin-top: 35rem;
  }

  .slider {
    height: 20rem;
  }

  .container-cards {
    height: 37rem;
  }

  .wsp-btn a img {
    left: 80%;
    bottom: 90%;
  }
}

@media screen and (min-width: 769px) and (max-width: 899px) {
  .servicios-text {
    margin-top: 0;
  }
}


/* ESCRITORIO */
@media screen and (min-width: 900px) {
  .Contenido {
    height: 33rem;
    position: relative;
  }

  #banner-inicio {
    width: 100%;
    height: 33rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }

  .servicios {
    margin-top: 1rem;
  }

  .servicios-text {
    margin-top: 0rem;
  }

  .wsp-btn a img {
    left: 90%;
    bottom: 90%;
  }

  .container-cards {
    height: 19rem;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {

  .servicios {
    
    margin-top: -40rem !important;
  }
  .servicios-text {
    margin-top: 55rem !important;
  }
}